<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>762571426287-43298ve21s1hkd390af4faj3p44ejldh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.762571426287-43298ve21s1hkd390af4faj3p44ejldh</string>
	<key>API_KEY</key>
	<string>AIzaSyBVntHU7pLRpB6MKaqMxlfBaYM7lePEPWA</string>
	<key>GCM_SENDER_ID</key>
	<string>762571426287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.exampleFirebase</string>
	<key>PROJECT_ID</key>
	<string>examplefirebase-4fe0c</string>
	<key>STORAGE_BUCKET</key>
	<string>examplefirebase-4fe0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762571426287:ios:59e0ac123d603c2794ce1a</string>
	<key>DATABASE_URL</key>
	<string>https://examplefirebase-4fe0c.firebaseio.com</string>
</dict>
</plist>